In [37]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('G:\Projects_data\sample_project1/input.csv')
df
df.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity'],
      dtype='object')

In [48]:
a = []
a = df.ph

print(a)

0     3
1    31
2    11
Name: ph, dtype: int64

In [31]:
header = ['ph','Hardness','Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity']
data = [[3,414,4124,124,231231,123,124,21,525],['31', '323', '123', '14', '12', '32', '453', '424', '523'],
 ['11', '43', '123', '421', '414', '14', '12414', '1214','4341']]

data = pd.DataFrame(data, columns=header)

In [32]:
data.to_csv('input.csv', index=False)

In [33]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,3,414,4124,124,231231,123,124,21,525
1,31,323,123,14,12,32,453,424,523
2,11,43,123,421,414,14,12414,1214,4341

In [4]:
df.shape

(2, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pHValue          2 non-null      int64
 1   Hardness         2 non-null      int64
 2   TDS              2 non-null      int64
 3   Chloramines      2 non-null      int64
 4   sulfates         2 non-null      int64
 5   conductivity     2 non-null      int64
 6   Organic_carbon   2 non-null      int64
 7   Trihalomethanes  2 non-null      int64
 8   Turbidity        1 non-null      float64
dtypes: float64(1), int64(8)
memory usage: 272.0 bytes

In [6]:
df.describe()

,pHValue,Hardness,TDS,Chloramines,sulfates,conductivity,Organic_carbon,Trihalomethanes,Turbidity
count,2.000000,2.000000,2.0,2.00000,2.000000,2.000000,2.00000,2.000000,1.0
mean,21.000000,183.000000,123.0,217.50000,213.000000,23.000000,6433.50000,819.000000,523.0
std,14.142136,197.989899,0.0,287.79246,284.256926,12.727922,8457.70421,558.614357,NaN
min,11.000000,43.000000,123.0,14.00000,12.000000,14.000000,453.00000,424.000000,523.0
25%,16.000000,113.000000,123.0,115.75000,112.500000,18.500000,3443.25000,621.500000,523.0
50%,21.000000,183.000000,123.0,217.50000,213.000000,23.000000,6433.50000,819.000000,523.0
75%,26.000000,253.000000,123.0,319.25000,313.500000,27.500000,9423.75000,1016.500000,523.0
max,31.000000,323.000000,123.0,421.00000,414.000000,32.000000,12414.00000,1214.000000,523.0

In [51]:
# ph = df.ph;
# hardness = df.
# solids = float(input("Enter the value of solids: "))
# chloramines = float(input("Enter the value of chloramines: "))
# sulphate = float(input("Enter the value of sulphate: "))
# conductivity = float(input("Enter the value of conductivity: "))
# organic = float(input("Enter the value of organic carbon: "))
# tri = float(input("Enter the value of trihalomethanes: "))
# turb = float(input("Enter the value of turbidity: "))

# 'ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
#        'Organic_carbon', 'Trihalomethanes', 'Turbidity'

data = {'ph':df.ph,
       'Hardness':df.Hardness,
       'Solids':df.Solids,
       'Chloramines':df.Chloramines,
       'Sulfate':df.Sulfate,
       'Conductivity':df.Conductivity,
       'Organic_carbon':df.Organic_carbon,
       'Trihalomethanes':df.Trihalomethanes,
       'Turbidity':df.Turbidity}
datadf = pd.DataFrame(columns = ['ph','Hardness','Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity'])
datadf = datadf.append(data,ignore_index = True)


s = scaler.transform(datadf)

y_prediction=best_clf2.predict(s)
if y_prediction[0]== 0:
    print("\033[1m THE WATER IS NOT GOOD FOR CONSUMPTION\033[0m ")
else:
    print("\033[1m THE WATER IS GOOD FOR CONSUMPTION\033[0m")

C:\Users\This PC\AppData\Local\Temp\ipykernel_2940\3919170997.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  datadf = datadf.append(data,ignore_index = True)

NameError: name 'scaler' is not defined

In [31]:
import csv
file = open('input.csv')
type(file)

_io.TextIOWrapper

In [32]:
dd = csv.reader(file)

In [33]:
header = []
header = next(dd)
header

['pHValue',
 'Hardness',
 'TDS',
 'Chloramines',
 'sulfates',
 'conductivity',
 'Organic_carbon',
 'Trihalomethanes',
 'Turbidity']

In [34]:
rows = []

for row in dd:
    rows.append(row)

rows

[['31', '323', '123', '14', '12', '32', '453', '424', '523'],
 ['11', '43', '123', '421', '414', '14', '12414', '1214']]

In [50]:
import csv
rows = []
with open("input.csv", 'r') as file:
    csvreader = csv.reader(file)
    header = next(csvreader)
    for row in csvreader:
        rows.append(row)
print(header)
print(rows)

['pHValue', 'Hardness', 'TDS', 'Chloramines', 'sulfates', 'conductivity', 'Organic_carbon', 'Trihalomethanes', 'Turbidity']
[['31', '323', '123', '14', '12', '32', '453', '424', '523'], ['11', '43', '123', '421', '414', '14', '12414', '1214']]

In [51]:
with open('input.csv')as file:
    content = file.readlines()
header = content[:1]
rows = content[1:]
print(header)
print(rows)

['pHValue,Hardness,TDS,Chloramines,sulfates,conductivity,Organic_carbon,Trihalomethanes,Turbidity\n']
['31,323,123,14,12,32,453,424,523\n', '11,43,123,421,414,14,12414,1214']